body {
    background-color: #eff3f7;
    margin : 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

html, body, #potato, .container {
    height: 100%;
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    width: 80%;
}

.movies .movie{
    width : 40%;
    background-color: white;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.movie img {
    max-width: 120px;
    padding-right: 30px;
    box-shadow: 10px;
}

.movie h3, .movie h5 {
    font-weight: 300;
}

.movie h3{
    margin-bottom: 5px;
    font-size: 24px;
    color : #2c2c2c;
}

.movie  .movie_year,
.movie .movie_title {
    margin: 0;
    font-weight: 300;
}

.movie .movie_title{
    margin-bottom: 5px;
    font-size : 24px;
    color : #2c2c2c;
}

.movie .genres{
    list-style: none;
    padding:0;
    margin : 5px;
    display : flex;
}

.genres li{
    margin-right : 10px;
    font-size: 14px;
}